<br />
<br />
<br />
<font size="3" face="Times New Roman">This sample app demonstrates Good Dynamics' Apache HTTP Client API. <br />
<br />
Use menu to select different demos.
<br />
</font><font size="3" face="Times New Roman"> A &quot;Synchronous Request&quot; demo allows to fetch and </font><font size="3" face="Times New Roman">display HTML content for asked webpage.</font><font size="3" face="Times New Roman">&nbsp; An &quot;Uploading&quot; demo shows how HTML POST and PUT works.</font>